div.spoiler {
  @spoiler-padding: 10px;

  display: block;

  div.title {
    i {
      width: @spoiler-padding;
      display: inline-block;
      color: @link-color;
      text-align: center;

      &:before {
        content: "\f0da";
      }
    }

    span {
      cursor: pointer;
      border-bottom: 2px dashed @control-bg;
      color: @link-color;

      &:hover, &:focus, &:active {
        text-decoration: none;
        border-color: @link-color;
      }
    }
  }

  div.content {
    display: none;
    padding-left: @spoiler-padding;
  }

  &.open {
    .content {
      display: block;
    }
    div.title {
      i {
        &:before {
          content: "\f0d7";
        }
      }
    }
  }
}
